body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px; /* Добавлен отступ снизу */
}

h2 {
    color: #555;
    margin-top: 20px; /* Добавлен отступ сверху */
    margin-bottom: 10px; /* Добавлен отступ снизу */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.left-button{ display: block;
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    width: 175px;
}
.back-button {
    display: block;
    margin: 20px auto;
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    width: 175px;
}

.back-button:hover {
    background-color: #45a049;
}

/* Добавление отступов к другим элементам */
#processed-image {
    margin-bottom: 20px; /* Отступ снизу для блока с изображением */
}

form {
    margin-top: 20px; /* Отступ сверху для формы загрузки */
    margin-bottom: 20px; /* Отступ снизу для формы загрузки */
}
input[type="file"] {
    display: none; /* Скрываем стандартное поле выбора файла */
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 15px; /* Отступы для кнопки */
    border: 1px solid #ddd; /* Рамка вокруг кнопки */
    border-radius: 5px; /* Закругление углов */
    background-color: #f8f8f8; /* Цвет фона */
    color: #333; /* Цвет текста */
    cursor: pointer; /* Указатель при наведении */
    width: 100%; /* Ширина кнопки */
    text-align: center; /* Центрирование текста */
    box-sizing: border-box; /* Учитываем отступы и рамки в ширине */
}

.custom-file-upload:hover {
    background-color: #e7e7e7; /* Цвет кнопки при наведении */
}
input[type="submit"] {
    padding: 10px 15px; /* Добавление отступов к кнопке отправки */
    background-color: #4CAF50; /* Цвет кнопки */
    color: white; /* Цвет текста кнопки */
    border: none; /* Убираем рамку */
    border-radius: 5px; /* Закругление углов */
    cursor: pointer; /* Указатель при наведении */
    width: 100%; /* Ширина кнопки отправки */
    box-sizing: border-box; /* Учитываем отступы и рамки в ширине */
}

input[type="submit"]:hover {
    background-color: #45a049; /* Цвет кнопки при наведении */
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}
a {
    display: inline-block; /* Позволяет использовать отступы и размеры */
    padding: 10px 15px; /* Добавление отступов */
    background-color: #4CAF50; /* Цвет фона */
    color: white; /* Цвет текста */
    text-decoration: none; /* Убираем подчеркивание */
    border: none; /* Убираем рамку */
    border-radius: 5px; /* Закругление углов */
    cursor: pointer; /* Указатель при наведении */
    width: 100%; /* Ширина ссылки */
    box-sizing: border-box; /* Учитываем отступы и рамки в ширине */
    text-align: center; /* Центрируем текст */
}

a:hover {
    background-color: #45a049; /* Цвет фона при наведении */
}

input[type="text"],
input[type="password"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

select {
    width: 100%; /* Ширина выпадающего списка */
    padding: 10px; /* Отступы внутри */
    border: 1px solid #ccc; /* Цвет и стиль границы */
    border-radius: 5px; /* Закругление углов */
    font-size: 16px; /* Размер шрифта */
    background-color: #f9f9f9; /* Цвет фона */
    cursor: pointer; /* Курсор при наведении */
    transition: border-color 0.3s; /* Плавный переход для изменения цвета границы */
}

/* Стили для выпадающего списка при наведении */
hover {
    border-color: #888; /* Цвет границы при наведении */
}

/* Стили для выпадающего списка при фокусе */
focus {
    border-color: #007BFF; /* Цвет границы при фокусе */
    outline: none; /* Убираем стандартный контур */
}

/* Стили для опций (не все браузеры поддерживают стилизацию опций) */
option {
    padding: 10px; /* Отступы внутри опций */
    background-color: #fff; /* Цвет фона опций */
    color: #333; /* Цвет текста опций */
}

/* Стили для опций при наведении (не все браузеры поддерживают) */
option:hover {
    background-color: #f0f0f0; /* Цвет фона опции при наведении */
}

.date-container {
    display: flex; /* Используем flexbox для выравнивания элементов */
    align-items: center; /* Выравнивание по центру по вертикали */
}

#dateBirth {
    padding: 10px; /* Отступы внутри поля */
    border: 1px solid #ccc; /* Цвет и стиль границы */
    border-radius: 5px; /* Закругление углов */
    font-size: 16px; /* Размер шрифта */
    flex: 1; /* Позволяет полю даты занимать оставшееся пространство */
}

/* Стили для метки */
label {
    margin-right: 10px; /* Отступ справа для разделения с полем ввода */
}