<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
<a href="/" class="back-button">Вернуться обратно</a>
<div id="processed-image">
    <h2>Processed Image:</h2>
    {% if processed_image %}
        <img src="{{ processed_image }}" alt="Processed Image">
    {% else %}
        <p>No image processed.</p>
    {% endif %}
</div>
</body>
</html>